<section class='layout pt-[150px]'>
  <div class='flex flex-col xl:grid xl:grid-cols-2 gap-[20px]'>
    <div class='p-[50px] bg-[#F3F1E8] rounded-[15px] flex-shrink-0'>
      <div class='flex flex-col'>
        <div class='headline1 text-[40px]'>Offert förfrågan</div>
        <div class=' body1 text-[20px] py-[30px] opacity-80'>
          Ett solcellssystem med batteri och AI-styrning gör att du inte bara
          producerar egen el!
        </div>
        <form
          class='flex flex-col gap-[15px] md:gap-[20px]'
          id='quote-form'
          action='https://formspree.io/f/mdkllzwo'
          method='POST'
        >
          <input
            class='body1 pl-[15px] text-[16px] md:text-[18px] text-[#171717]/85 bg-white rounded-[10px] h-[45px]'
            placeholder='För- & efternamn'
            type='text'
            name='name'
            required
          >
          <input
            class='body1 pl-[15px] text-[16px] md:text-[18px] text-[#171717]/85 bg-white rounded-[10px] h-[45px]'
            placeholder='E-postadress'
            type='email'
            name='email'
            required
          >
          <input
            class='body1 pl-[15px] text-[16px] md:text-[18px] text-[#171717]/85 bg-white rounded-[10px] h-[45px]'
            placeholder='Telefonnummer'
            type='tel'
            name='phone'
          >
          <input
            class='body1 pl-[15px] text-[16px] md:text-[18px] text-[#171717]/85 bg-white rounded-[10px] h-[45px]'
            placeholder='Adress'
            type='text'
            name='address'
          >
          <div class='body1 text-[20px] md:text-[25px] flex gap-[5px] flex-col md:flex-row'>
            Hur kan vi hjälpa dig?
            <span class='text-[13px] md:text-[15px] opacity-70'>
              Klicka för att välja*
            </span>
          </div>
          <div class='flex flex-col md:flex-row gap-[10px]'>
            <button
              type='button'
              class='bg-white headline1 text-[18px] md:text-[20px] px-[15px] py-[10px] rounded-[10px] flex flex-row gap-[10px] items-center justify-center service-option'
              data-service='solceller'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='29'
                height='18'
                viewBox='0 0 29 18'
                fill='none'
              >
                <path d="M28.158 10.9256H12.7738L6.98633 1H22.3705L28.158 10.9256Z" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M24.0185 8.69895L20.5454 2.77808H11.0137L14.4867 8.69895H24.0185Z" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.1621 5.73865H12.8701" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.8389 2.83813L19.192 8.63916" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.95442 1L1.16699 10.9256H3.20773L5.28695 7.48052" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.20801 10.9255V16.9999H14.0598V10.9255" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.0596 17.0001H26.2569V10.9856" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.86596 16.9999V12.9615H6.68652V16.9999" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              Solceller
            </button>
            <button
              type='button'
              class='bg-white headline1 text-[18px] md:text-[20px] px-[15px] py-[10px] rounded-[10px] flex flex-row gap-[10px] items-center justify-center service-option'
              data-service='laddbox'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='25'
                height='18'
                viewBox='0 0 25 18'
                fill='none'
              >
                <path d="M7.65948 11.3927C6.14107 11.3927 4.91016 12.6236 4.91016 14.142C4.91016 15.6604 6.14107 16.8914 7.65948 16.8914C9.17789 16.8914 10.4088 15.6604 10.4088 14.142C10.4088 12.6236 9.17785 11.3927 7.65948 11.3927Z" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.42336 3.96602L4.2199 6.05353L1.25195 6.35472M1.25195 2.78259C4.65122 2.78259 8.80464 3.18546 8.80464 3.18546L6.82778 5.86428L4.2199 6.05358" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.2494 7.16021C13.5714 6.04852 12.3365 4.2139 11.8366 3.67599C11.3155 3.11518 13.8323 2.53408 12.728 2.23456C10.527 1.63753 4.65011 1.41443 1.25165 1.41443C0.939933 1.41443 1.53172 1.41595 1.25165 1.41924" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.20996 10.3246C10.1831 10.6664 10.9727 11.3936 11.3933 12.3353L11.9 13.4698L13.8561 13.2624" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1.25195 14.6555H3.38022L3.58082 13.2163C3.73513 12.1091 4.52556 11.1283 5.47664 10.5409" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12.1346 6.92986L11.1736 6.43132C10.9144 6.27267 10.812 5.92281 10.9394 5.63031L12.0741 4.0697" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1.18457 17.0001H23.7905" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M19.625 16.8913V12.5834" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21.8779 12.5834V16.8913" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M24.0129 11.954L21.9771 12.4686C21.1831 12.6692 20.3201 12.6692 19.5261 12.4686L17.4902 11.954V1.66503L19.5261 1.15052C20.3201 0.949826 21.1831 0.949826 21.9771 1.15052L24.0129 1.66503V11.954Z" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21.1041 5.34875L20.1318 6.8001H21.3709L20.6104 8.27022" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.9209 8.46094H13.3772C14.1556 8.46094 14.8108 9.04324 14.9023 9.81622L15.3872 13.7243C15.4307 14.0922 15.7426 14.3693 16.1131 14.3693H17.4837C17.8873 14.3693 18.2146 14.0421 18.2146 13.6384V12.2126" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.921 9.14697H8.81256C8.43067 9.14697 8.12109 8.8374 8.12109 8.45551C8.12109 8.07361 8.43067 7.76404 8.81256 7.76404H9.921V9.14697Z" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              Laddbox
            </button>
            <button
              type='button'
              class='bg-white headline1 text-[18px] md:text-[20px] px-[15px] py-[10px] rounded-[10px] flex flex-row gap-[10px] items-center justify-center service-option'
              data-service='batteri'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='11'
                height='18'
                viewBox='0 0 11 18'
                fill='none'
              >
                <path d="M8.14291 11.8178V1.48787L5.689 1.0896C4.95299 0.970133 4.20256 0.970133 3.46661 1.0896L1.0127 1.48787V11.8178L3.46661 12.2161C4.20261 12.3355 4.95305 12.3355 5.689 12.2161L8.14291 11.8178Z" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.5791 12.448V16.9435" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.57617 16.9435V12.448" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.05313 4.68481L3.74316 6.64017H5.41254L4.38795 8.62074" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.14258 4.68481L9.52867 5.3987V8.24138H8.14258" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.52937 8.24146V13.0073C9.52937 13.6173 9.03485 14.1118 8.42484 14.1118C7.81483 14.1118 7.32031 13.6173 7.32031 13.0073V12.0734" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2.1748 17H7.01923" stroke="#171717" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              Batteri
            </button>
          </div>

          <!-- Hidden fields with product information -->
          <input
            type='hidden'
            name='selected_service'
            id='selected_service'
          >
          <input
            type='hidden'
            name='product_title'
            value='{{ product.title }}'
          >
          <input
            type='hidden'
            name='product_handle'
            value='{{ product.handle }}'
          >
          <input
            type='hidden'
            name='product_id'
            value='{{ product.id }}'
          >
          <input
            type='hidden'
            name='product_url'
            value='{{ shop.secure_url }}{{ product.url }}'
          >
          <input
            type='hidden'
            name='_subject'
            value='Offert förfrågan för {{ product.title }}'
          >
          <button
            type='submit'
            class='w-full headline1 text-[18px] md:text-[20px] bg-[#EFD959] rounded-[10px] py-[14px] flex flex-row gap-[15px] md:gap-[20px] items-center justify-center quote-submit-btn'
          >
            Få ditt förslag
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='18'
              height='14'
              viewBox='0 0 18 14'
              fill='none'
            >
              <path d="M1.66699 7.00009H16.667L10.7974 1.13049" stroke="#171717" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.66699 7.00004H16.667L10.7974 12.8696" stroke="#171717" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </form>
      </div>
    </div>
    <div class='flex flex-col gap-[10px] flex-1'>
      <div class='relative h-full overflow-hidden rounded-[15px]'>
        <img
          src='{{ section.settings.card_1_image | image_url: width: 600 }}'
          alt='{{ section.settings.card_1_image.alt | escape }}'
          width='600'
          height='300'
          class='w-full h-full object-cover absolute inset-0'
        >
        {% if section.settings.card_1_overlay_opacity > 0 %}
          <div
            class='absolute inset-0 rounded-[15px]'
            style='background-color: rgba(0, 0, 0, {{ section.settings.card_1_overlay_opacity | divided_by: 100.0 }});'
          ></div>
        {% endif %}
        {% if section.settings.card_1_button_text != blank
          and section.settings.card_1_button_link != blank
        %}
          <a
            href='{{ section.settings.card_1_button_link }}'
            class='absolute p-[20px]  inset-0 flex items-end justify-start no-underline z-10'
          >
            <button class='bg-[#FFF] text-[15px] md:text-[20px] py-[15px] md:py-[18px] px-[20px] md:px-[30px] rounded-[10px] knappetikett text-[#171717] no-underline'>
              {{ section.settings.card_1_button_text | escape }}
            </button>
          </a>
        {% endif %}
      </div>

      <div class='relative h-full overflow-hidden rounded-[15px]'>
        <img
          src='{{ section.settings.card_2_image | image_url: width: 600 }}'
          alt='{{ section.settings.card_2_image.alt | escape }}'
          width='600'
          height='300'
          class='w-full h-full object-cover absolute inset-0'
        >
        {% if section.settings.card_2_overlay_opacity > 0 %}
          <div
            class='absolute inset-0 rounded-[15px]'
            style='background-color: rgba(0, 0, 0, {{ section.settings.card_2_overlay_opacity | divided_by: 100.0 }});'
          ></div>
        {% endif %}
        {% if section.settings.card_2_button_text != blank
          and section.settings.card_2_button_link != blank
        %}
          <a
            href='{{ section.settings.card_2_button_link }}'
            class='absolute p-[20px]  inset-0 flex items-end justify-start no-underline z-10'
          >
            <button class='bg-[#FFF] text-[15px] md:text-[20px] py-[15px] md:py-[18px] px-[20px] md:px-[30px] rounded-[10px] knappetikett text-[#171717] no-underline'>
              {{ section.settings.card_2_button_text | escape }}
            </button>
          </a>
        {% endif %}
      </div>

      <div class='relative h-full overflow-hidden rounded-[15px]'>
        <img
          src='{{ section.settings.card_3_image | image_url: width: 600 }}'
          alt='{{ section.settings.card_3_image.alt | escape }}'
          width='600'
          height='300'
          class='w-full h-full object-cover absolute inset-0'
        >
        {% if section.settings.card_3_overlay_opacity > 0 %}
          <div
            class='absolute inset-0 rounded-[15px]'
            style='background-color: rgba(0, 0, 0, {{ section.settings.card_3_overlay_opacity | divided_by: 100.0 }});'
          ></div>
        {% endif %}
        {% if section.settings.card_3_button_text != blank
          and section.settings.card_3_button_link != blank
        %}
          <a
            href='{{ section.settings.card_3_button_link }}'
            class='absolute p-[20px]  inset-0 flex items-end justify-start no-underline z-10'
          >
            <button class='bg-[#FFF] text-[15px] md:text-[20px] py-[15px] md:py-[18px] px-[20px] md:px-[30px] rounded-[10px] knappetikett text-[#171717] no-underline'>
              {{ section.settings.card_3_button_text | escape }}
            </button>
          </a>
        {% endif %}
      </div>

      <div class='relative h-full overflow-hidden rounded-[15px]'>
        <img
          src='{{ section.settings.card_4_image | image_url: width: 600 }}'
          alt='{{ section.settings.card_4_image.alt | escape }}'
          width='600'
          height='300'
          class='w-full h-full object-cover absolute inset-0'
        >
        {% if section.settings.card_4_overlay_opacity > 0 %}
          <div
            class='absolute inset-0 rounded-[15px]'
            style='background-color: rgba(0, 0, 0, {{ section.settings.card_4_overlay_opacity | divided_by: 100.0 }});'
          ></div>
        {% endif %}
        {% if section.settings.card_4_button_text != blank
          and section.settings.card_4_button_link != blank
        %}
          <a
            href='{{ section.settings.card_4_button_link }}'
            class='absolute p-[20px]  inset-0 flex items-end justify-start no-underline z-10'
          >
            <button class='bg-[#FFF] text-[15px] md:text-[20px] py-[15px] md:py-[18px] px-[20px] md:px-[30px] rounded-[10px] knappetikett text-[#171717] no-underline'>
              {{ section.settings.card_4_button_text | escape }}
            </button>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Offertförfrågan",
  "tag": "section",
  "class": "section-offert-forfragan",
  "settings": [
    {
      "type": "header",
      "content": "Innehåll"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Rubrik",
      "default": "Begär offert"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Beskrivning",
      "default": "<p>Fyll i formuläret nedan så återkommer vi till dig med en skräddarsydd offert.</p>"
    },
    {
      "type": "header",
      "content": "Kort 1"
    },
    {
      "type": "image_picker",
      "id": "card_1_image",
      "label": "Bild 1"
    },
    {
      "type": "text",
      "id": "card_1_button_text",
      "label": "Knapptext 1"
    },
    {
      "type": "url",
      "id": "card_1_button_link",
      "label": "Knapplänk 1"
    },
    {
      "type": "range",
      "id": "card_1_overlay_opacity",
      "label": "Överlagring opacitet 1",
      "min": 0,
      "max": 100,
      "default": 0,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "Kort 2"
    },
    {
      "type": "image_picker",
      "id": "card_2_image",
      "label": "Bild 2"
    },
    {
      "type": "text",
      "id": "card_2_button_text",
      "label": "Knapptext 2"
    },
    {
      "type": "url",
      "id": "card_2_button_link",
      "label": "Knapplänk 2"
    },
    {
      "type": "range",
      "id": "card_2_overlay_opacity",
      "label": "Överlagring opacitet 2",
      "min": 0,
      "max": 100,
      "default": 0,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "Kort 3"
    },
    {
      "type": "image_picker",
      "id": "card_3_image",
      "label": "Bild 3"
    },
    {
      "type": "text",
      "id": "card_3_button_text",
      "label": "Knapptext 3"
    },
    {
      "type": "url",
      "id": "card_3_button_link",
      "label": "Knapplänk 3"
    },
    {
      "type": "range",
      "id": "card_3_overlay_opacity",
      "label": "Överlagring opacitet 3",
      "min": 0,
      "max": 100,
      "default": 0,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "Kort 4"
    },
    {
      "type": "image_picker",
      "id": "card_4_image",
      "label": "Bild 4"
    },
    {
      "type": "text",
      "id": "card_4_button_text",
      "label": "Knapptext 4"
    },
    {
      "type": "url",
      "id": "card_4_button_link",
      "label": "Knapplänk 4"
    },
    {
      "type": "range",
      "id": "card_4_overlay_opacity",
      "label": "Överlagring opacitet 4",
      "min": 0,
      "max": 100,
      "default": 0,
      "unit": "%"
    }
  ],
  "presets": [
    {
      "name": "Offertförfrågan"
    }
  ]
}
{% endschema %}
