{% liquid
  assign section_id = section.settings.custom_id | default: section.id
  assign section_class = 'section-text-sektion'
%}

<section
  id="{{ section_id }}"
  class="{{ section_class }} layout py-[62px] md:px-[170px] md:py-[87px]"
>
  {% if section.settings.title != blank %}
    <div class="headline1 text-[#171717]">{{ section.settings.title }}</div>
  {% endif %}

  {% if section.settings.text != blank %}
    <div class="text py-[40px] text-[#171717]/80 md:py-[50px]">
      {{ section.settings.text }}
    </div>
  {% endif %}

  {% if section.settings.button_text != blank and section.settings.button_link != blank %}
    <button>
      <a
        href="{{ section.settings.button_link }}"
        class="knappetikett inline-block flex shrink-0 flex-row items-center gap-[20px] rounded-full  px-[20px] py-[17px] text-[#171717]"
        style="background: #E9A600;"
      >
        {{ section.settings.button_text }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="18"
          viewBox="0 0 22 18"
          fill="none"
        >
          <path d="M1 8.99991H21L13.1739 1.17383" stroke="#171717" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M1 9.00009H21L13.1739 16.8262" stroke="#171717" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </button>
  {% endif %}
</section>

{% schema %}
{
  "name": "Text sektion",
  "tag": "section",
  "class": "section-text-sektion",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titel",
      "default": "Titel"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Text</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Knapp text",
      "default": "Knapp text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Knapp länk"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "Anpassat ID",
      "info": "Lämna tomt för att använda standard ID"
    }
  ],
  "presets": [
    {
      "name": "Text sektion"
    }
  ]
}
{% endschema %}
